
#login div{
    margin: 10px 0px;
}

#status textarea{
    background: aqua;
}

#testFunction div{
    margin: 10px 0px;
}

li{
    margin-top: 10px;
}

#labelFunctionHint{
    color: gray;
}

.setContextField{
    display:none;
}

.group{
    border: solid 1px;
}

.dashed{
    border: dashed 1px;
}

#HisInfo{
    display: flex;
}

#HisInfo > div{
    padding: 5px;
    margin: 10px;
}



textarea {
    vertical-align: bottom;
}

#output {
    overflow: auto;
}

#output > p {
    overflow-wrap: break-word;
}

#output span {
    color: blue;
}

#output span.error {
    color: red;
}